__pycache__/
*.py[cod]
*$py.class

*.pyo
*.pyd

venv/
.env/
.venv/

build/
dist/
*.spec


*.toc
*.pyz
*.pkg
warn-*.txt
xref-*.html
localpycs/

sbcs_build/
*.deb

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log